<!doctype html>

<html>
    <head>
      
    </head>
    <body onload="restoreInfo()">
      <form action="/signup" method="post">
        Phone:<input type="tel" name="phone" onBlur="storeInfo()"></input><br>
        Name: <input type="text" name="name" onBlur="storeInfo()"></input><br>
        <input type="checkbox" name="email"> Email<br>
        <input type="checkbox" name="facebook"> Facebook<br>
        <input type="checkbox" name="twitter"> Twitter<br>
        {% block body %}
        <a href="{{ url_for('login') }}"><img src="http://triberr.com/assets/img/btns/sign-in-twitter.png" alt="sign in"></a>
        <a href="{{ url_for('f_login') }}"><img src="https://www.hungryroot.com/public/img/facebook-login-button.png" alt="sign in"></a>

        {% endblock %}
        <input type="submit" value="Signup"></input>
      </form>
    </body>

    <script type="text/javascript">
      var form = document.forms[0];

      function storeInfo() {    
        var phone = form['phone'].value;
        document.cookie = "phone" + "=" + phone + ";";
        var name = form["name"].value;
        document.cookie = "name" + "=" + name + ";";
      }

      function restoreInfo() {
        if (document.cookie == null) {
          return;
        }
        var cookie_list = document.cookie.split(';');
        var phone = cookie_list[0].substr(cookie_list[0].indexOf("=")+1);
        var name = cookie_list[1].substr(cookie_list[1].indexOf("=")+1);
        form["name"].value = name;
        form["phone"].value = phone;

      }
    
    </script>
</html>